.footer {
    background-color: #297bf6;    
    padding: 3px;    
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 100%;
    line-height: 20px;
    text-align: center;
}

.footerText {
    font-size: 25px;
    margin-left: 2px;
    margin-right:2px;
}

.footerLink {
    font-size: 25px;
    margin-left: 2px;
    margin-right:2px;
    padding: 3px;
}