.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(32, 34, 204);
}

a {
  /* color: rgb(16, 235, 100); */
  color: rgb(8, 8, 8);
}

.App-link {
  color: rgb(16, 235, 100);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*.Footer {
  
  height: 50px;

}*/

.Bio {
  width: 400px;
  height: 550px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  float: left;
}

/* .link {
  color: rgb(16, 235, 100);
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 35px;
} */